<form #form="ngForm" autocomplete="off">
  <div class="form-group">
    <label>FULL NAME</label>
      <input name = "FullName" #FullName="ngModel" [(ngModel)]="service.formData.FullName" class="form-control"/>
  </div>

  
  <div class="form-group ">
    <label>POSITION</label>
      <input name = "Position" #Position="ngModel" [(ngModel)]="service.formData.Position" class="form-control"/>
  </div>  

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>EMP CODE</label>
        <input name = "EMPCode" #EMPCode="ngModel" [(ngModel)]="service.formData.EMPCode" class="form-control"/>
    </div>
    <div class="form-group col-md-6">
      <label>MOBILE</label>
        <input name = "Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>
